@import url("home.css");
@import url("post.css");

* {
    color: #2d3748;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

html {
    font-family: Wotfard,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    tab-size: 4;
    scroll-behavior: smooth;
    overflow-y: scroll;
    min-height: 100%;
    scroll-margin-top: 2rem;
}

body {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: inherit;
    margin: 0;
}

button {
    background-color: transparent;
    background-image: none;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

[role=button],
button {
    cursor: pointer;
}

a {
    text-decoration: inherit;
}

ol,
ul {
    list-style: none;
}

fieldset,
ol,
ul {
    margin: 0;
    padding: 0;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img {
    border-style: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}